/* ============== MOBILE MENU ================= */

/* MOBILE MENU BUTTON  */
.mobile-nav-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: none;
}
.mobile-menu-icon {
  stroke: var(--brand-color-dark);
}

/* MOBILE MENU  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px 40px 40px 40px;

  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
}

/* MOBILE MENU CLOSE BUTTON  */
.mobile-menu-close-button {
  position: absolute;
  right: 23px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2e2f42;
  background: #e7e9fc;
  /* opacity: 0.1; */
}

.moble-menu-close-icon {
  fill: var(--brand-color-dark);
}

/* MOBILE MENU NAVIGATION */

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-dark);
}

.mobile-menu-nav-link.current-page {
  color: var(--accent-color);
}

/* MOBILE MENU CONTACTS  */

.mobile-menu-contact-info {
  margin-bottom: 48px;
}

.mobile-menu-contact-item {
  margin-bottom: 40px;
}

.mobile-menu-contact-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-color);
}

.mobile-menu-contact-email {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

/* MOBILE MENU SOCIAL MEDIA  */
.mobile-menu-social-media-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.mobile-menu-social-media-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
}

.mobile-social-media-icon {
  fill: #f4f4fd;
}
